html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.screen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.notification-area {
	height: 3em;
	font: 1em/3em sans-serif;
	text-align: center;
	position: fixed;
	top: -3em;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.2);
	transition: top .25s ease-in-out;
	-webkit-transition: top .25s ease-in-out;
}

.notification-area.visible {
	top: 0;
}

.clickable {
	cursor: pointer;
	/*-webkit-animation: glow 1s ease-in-out 0 infinite alternate;*/
	background: rgb(255, 235, 0);
	box-shadow: 0 0 25px rgb(255, 235, 0);
	-webkit-box-shadow: 0 0 25px rgb(255, 235, 0);
}

.stage {
	display: none;
	width: 100%;
	height: 100%;
	background: #FFF7E7;
}

.stage.current {
	display: block;
}

.stage > * {
	position: absolute;
}

.option {
	position: absolute;
	z-index: 1;
	width: 20%;
	height: 70%;
	bottom: 25%;
	-webkit-transition: bottom .5s ease-in-out, left .5s ease-in-out;
}

.character {
	display: block;
	position: absolute;
	bottom: 10%;
	height: 90%;
	width: 100%;
	z-index: 2;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transition: bottom .5s ease-in-out, height .5s ease-in-out, background-position .5s ease-in-out;
}

.option-1,
.basket-1 {
	left: 6%;
}

.option-2,
.basket-2 {
	left: 40%;
}

.option-3,
.basket-3 {
	left: 73%;
}

.character-1-2-together .option-1 .character,
.character-1-2-together .option-2 .character,
.character-2-3-together .option-2 .character,
.character-2-3-together .option-3 .character {
	height: 100%;
	bottom: 0;
}

.character-1-2-together .option-1 {
	left: 15%;
}

.character-1-2-together .option-2 {
	left: 30%;
}

.character-2-3-together .option-2 {
	left: 45%;
}

.character-2-3-together .option-3 {
	left: 65%;
}

.character-1-2-whisper .option-1 {
	left: 20%;
	z-index: 3;
}

.character-2-3-whisper .option-3 {
	left: 60%;
	z-index: 3;
}

.basket {
	position: absolute;
	width: 20%;
	height: 55%;
	bottom: -150%;
	-webkit-transition: bottom .5s ease-in-out;
	pointer-events: none;
}

.show-baskets .basket {
	bottom: 30%;
}

.basket-front,
.basket-back {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	width: 60%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 20%;
}

.basket-front {
	z-index: 5;
	background-image: url(assets/basket_front.svg);
}

.basket-back {
	z-index: 3;
	background-image: url(assets/basket_back.svg);
}

.object {
	z-index: 6;
	width: 10%;
	height: 30%; /* Enough space so the width determines the real height */
	left: 45%;
	bottom: -100%;
	display: none;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transition: bottom .75s ease-in-out, transition .75s ease-out;
	pointer-events: none;
}

.show-object .object {
	display: block;
	bottom: 10%;
}

.auto {
	background-image: url(assets/objects/auto.png);
}

.boek {
	background-image: url(assets/objects/boek.svg);
}

.gitaar {
	background-image: url(assets/objects/gitaar.svg);
}

.hamer {
	background-image: url(assets/objects/hamer.svg);
}

.hoed {
	background-image: url(assets/objects/hoed.png);
}

.kop {
	background-image: url(assets/objects/kop.svg);
}

.lepel {
	background-image: url(assets/objects/lepel.png);
}

.paraplu {
	background-image: url(assets/objects/paraplu.png);
}

.pen {
	background-image: url(assets/objects/pen.png);
}

.roos {
	background-image: url(assets/objects/roos.png);
}

.schaar {
	background-image: url(assets/objects/schaar.png);
}

.sjaal {
	background-image: url(assets/objects/sjaal.png);
}

.sleutel {
	background-image: url(assets/objects/sleutel.png);
}

.tandenborstel {
	background-image: url(assets/objects/tandenborstel.png);
}

.vlag {
	background-image: url(assets/objects/vlag.png);
}

.vliegtuig {
	background-image: url(assets/objects/vliegtuig.png);
}

.voetbal {
	background-image: url(assets/objects/voetbal.png);
}

.zonnebril {
	background-image: url(assets/objects/zonnebril.png);
}

.object-dropped-on-option-1 .object,
.object-dropped-on-option-2 .object,
.object-dropped-on-option-3 .object {
	-webkit-transition: bottom .75s, left .75s ease-in-out;
	-webkit-animation: move-into-basket .75s 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
}

.object-dropped-on-option-1 .object {
	left: 13%;
}

.object-dropped-on-option-2 .object {
	left: 47%;
}

.object-dropped-on-option-3 .object {
	left: 81%;
}

/* Scene 0 */

.start-button,
.next-button,
.done {
	width: 40%;
	height: 20%;
	top: 40%;
	left: 30%;
	z-index: 10;
	font-size: 200%;
}

.done {
	text-align: center;
	font: 4em sans-serif;
}

.next-button {
	display: none;
}

.next-button.visible {
	display: block;
}

/* Scene 1 */

#game-stage {
	background: #FFF7E7 url(assets/meadow.svg) repeat-x;
	background-position: center bottom;
}

/* Standing */

.hond {
	background-image: url(assets/characters/dog_front.svg);
}

.olifant {
	background-image: url(assets/characters/elephant_front.svg);
}

.aap {
	background-image: url(assets/characters/monkey_front.svg);
}

.character-1-2-together .option-1 .character,
.character-1-2-together .option-3 .character,
.character-2-3-together .option-2 .character {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.character-1-2-together .character,
.character-2-3-together .character {
	background-position: left bottom;
}

.character-1-2-together .hond,
.character-2-3-together .hond {
	background-image: url(assets/characters/dog_half-front.svg);
}

.character-1-2-together .olifant,
.character-2-3-together .olifant {
	background-image: url(assets/characters/elephant_half-front.svg);
}

.character-1-2-together .aap,
.character-2-3-together .aap {
	background-image: url(assets/characters/monkey_half-front.svg);
}

/* Talking */

.character-1-2-talk .option-2 .hond,
.character-2-3-talk .option-2 .hond {
	-webkit-animation: dog-speaking .4s steps(1, end) 0 infinite;
}

.character-1-2-talk .option-2 .olifant,
.character-2-3-talk .option-2 .olifant {
	-webkit-animation: elephant-speaking .4s steps(1, end) 0 infinite;
}

.character-2-3-talk .option-2 .aap,
.character-2-3-talk .option-2 .aap {
	-webkit-animation: monkey-speaking .4s steps(1, end) 0 infinite;
}

/* Whispering */

.character-1-2-whisper .option-1 .hond,
.character-2-3-whisper .option-3 .hond {
	background-image: url(assets/characters/dog_whispering.svg);
}

.character-1-2-whisper .option-1 .olifant,
.character-2-3-whisper .option-3 .olifant {
	background-image: url(assets/characters/elephant_whispering.svg);
}

.character-1-2-whisper .option-1 .aap,
.character-2-3-whisper .option-3 .aap {
	background-image: url(assets/characters/monkey_whispering.svg);
}

/* Animations ftw! */

@-webkit-keyframes move-into-basket {
	50% {
		width: 9%;
	}
	75% {
		width: 8%;
		bottom: 60%;
		z-index: 6; 
		-webkit-filter: drop-shadow(5px 5px 25px #000);
	}
	76% {
		z-index: 4;
	} /* Make sure it moves in front of it upwards, and in the back of it downwards */
	100% {
		width: 7%;
		bottom: 36%;
		z-index: 4;
		-webkit-filter: drop-shadow(0 0 0 #000);
	}
}

@-webkit-keyframes glow {
	0% {
		background: rgba(255, 255, 0, 0);
		box-shadow: 0 0 1px #FF0;
		-webkit-box-shadow: 0 0 1px #FF0;
	}
	100% {
		background: rgba(255, 255, 0, 1.0);
		box-shadow: 0 0 25px #FF0;
		-webkit-box-shadow: 0 0 25px #FF0;
	}
}

@-webkit-keyframes dog-speaking {
	0% {
		background-image: url(assets/characters/dog_speaking_a.svg);
	}
	50% {
		background-image: url(assets/characters/dog_speaking_b.svg);	
	}
}

@-webkit-keyframes elephant-speaking {
	0% {
		background-image: url(assets/characters/elephant_speaking_a.svg);
	}
	50% {
		background-image: url(assets/characters/elephant_speaking_b.svg);	
	}
}

@-webkit-keyframes monkey-speaking {
	0% {
		background-image: url(assets/characters/monkey_speaking_a.svg);
	}
	50% {
		background-image: url(assets/characters/monkey_speaking_b.svg);	
	}
}
