html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.screen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.clickable {
	cursor: pointer;
	-webkit-animation: glow 1s ease-in-out 0 infinite alternate;
}

.stage {
	display: none;
	width: 100%;
	height: 100%;
	background: #FFF7E7;
}

.stage.current {
	display: block;
}

.stage > * {
	position: absolute;
}

.option {
	position: absolute;
	z-index: 1;
	width: 20%;
	height: 60%;
	bottom: 35%;
	-webkit-transition: all .5s ease-in-out;
	text-align: center;
}

.character {
	display: inline-block;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.hond {
	background: url(assets/characters/dog-front.svg) center bottom no-repeat;
}

.olifant {
	background: url(assets/characters/elephant-front.svg) center bottom no-repeat;
}

.aap {
	background: url(assets/characters/monkey-front.svg) center bottom no-repeat;
}


.basket {
	position: absolute;
	z-index: 3;
	left: 0;
	width: 100%;
	bottom: -150%;
	-webkit-transition: bottom .5s ease-in-out;
}

.show-baskets .basket {
	bottom: 0;
}

.object {
	z-index: 4;
	width: 10em;
	height: 10em;
	left: 45%;
	bottom: -100%;
	display: none;
	-webkit-transition: bottom .75s ease-in-out, transition .75s ease-out;
}

.show-object .object {
	display: block;
	bottom: 10%;
}

.spoon {
	background: red;
}

.car {
	background: green;
}

.object-dropped-on-option-1 .object,
.object-dropped-on-option-2 .object,
.object-dropped-on-option-3 .object {
	-webkit-transition: bottom .75s, left .75s ease-in-out;
	-webkit-animation: move-into-basket .75s 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
}

.object-dropped-on-option-1 .object {
	left: 11%;
}

.object-dropped-on-option-2 .object {
	left: 45%;
}

.object-dropped-on-option-3 .object {
	left: 78%;
}

/* Scene 0 */

.start-button,
.next-button,
.done {
	width: 40%;
	height: 20%;
	top: 40%;
	left: 30%;
	z-index: 10;
	font-size: 200%;
}

.done {
	text-align: center;
	font: 4em sans-serif;
}

.next-button {
	display: none;
}

.next-button.visible {
	display: block;
}

/* Scene 1 */

#game-stage {
	background: #FFF7E7 url(assets/meadow.svg) repeat-x;
	background-position: center bottom;
}

.option-1 {
	left: 6%;
}

.option-2 {
	left: 40%;
}

.option-3 {
	left: 73%;
}

.character-1-2-together .option-1,
.character-1-2-together .option-2,
.character-2-3-together .option-2,
.character-2-3-together .option-3 {
	bottom: 20%;
	width: 30%;
}

.character-1-2-together .option-1 {
	left: 15%;
}

.character-1-2-together .option-2 {
	left: 25%;
}

.character-2-3-together .option-2 {
	left: 45%;
}

.character-2-3-together .option-3 {
	left: 65%;
}

.character-1-2-together .option-1 .hond {
	background-image: url(assets/characters/dog-right.svg);
}

.character-1-2-together .option-1 .olifant {
	background-image: url(assets/characters/elephant-right.svg);
}

.character-1-2-together .option-1 .aap {
	background-image: url(assets/characters/monkey-right.svg);
}

.character-1-2-together .option-2 .hond {
	background-image: url(assets/characters/dog-left.svg);
}

.character-1-2-together .option-2 .olifant {
	background-image: url(assets/characters/elephant-left.svg);
}

.character-1-2-together .option-2 .aap {
	background-image: url(assets/characters/monkey-left.svg);
}

.character-1-2-together .option-3 .hond {
	background-image: url(assets/characters/dog-right.svg);
}

.character-1-2-together .option-3 .olifant {
	background-image: url(assets/characters/elephant-right.svg);
}

.character-1-2-together .option-3 .aap {
	background-image: url(assets/characters/monkey-right.svg);
}

.character-2-3-together .option-1 .hond {
	background-image: url(assets/characters/dog-left.svg);
}

.character-2-3-together .option-1 .olifant {
	background-image: url(assets/characters/elephant-left.svg);
}

.character-2-3-together .option-1 .aap {
	background-image: url(assets/characters/monkey-left.svg);
}

.character-2-3-together .option-2 .hond {
	background-image: url(assets/characters/dog-right.svg);
}

.character-2-3-together .option-2 .olifant {
	background-image: url(assets/characters/elephant-right.svg);
}

.character-2-3-together .option-2 .aap {
	background-image: url(assets/characters/monkey-right.svg);
}

.character-2-3-together .option-3 .hond {
	background-image: url(assets/characters/dog-left.svg);
}

.character-2-3-together .option-3 .olifant {
	background-image: url(assets/characters/elephant-left.svg);
}

.character-2-3-together .option-3 .aap {
	background-image: url(assets/characters/monkey-left.svg);
}

/* Animations ftw! */

@-webkit-keyframes move-into-basket {
	75% {
		bottom: 60%;
		z-index: 4; 
		-webkit-filter: drop-shadow(5px 5px 25px #000);
	}
	76% {
		z-index: 2;
	} /* Make sure it moves in front of it upwards, and in the back of it downwards */
	100% {
		bottom: 36%;
		z-index: 2;
		-webkit-filter: drop-shadow(0 0 0 #000);
	}
}

@-webkit-keyframes glow {
	0% {
		background: rgba(255, 255, 0, 0);
		box-shadow: 0 0 1px #FF0;
		-webkit-box-shadow: 0 0 1px #FF0;
	}
	100% {
		background: rgba(255, 255, 0, 1.0);
		box-shadow: 0 0 25px #FF0;
		-webkit-box-shadow: 0 0 25px #FF0;
	}
}